body{
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
}
span{
    text-decoration: underline;
}

h1{
    margin-top: 40px;
    font-size: 4rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Sacramento', cursive;
    -webkit-text-fill-color: #66BFBF;
    line-height: 1;
}
h2{
    font-size: 2rem;
    -webkit-text-fill-color: #66BFBF;
    font-weight: normal;
}
h3{
    -webkit-text-fill-color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-weight:500;
    line-height: 2;
    color: #40514E;
}
.sub-heading{
    margin-top: 10px;
    margin-bottom: 30px;
}

.top-container{
    position: relative;
    padding-top: 100px;
    background-color: #EAF6F6;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 250px;

}
.bottom-cloud{
    position: absolute;
    top: 300px;
    bottom: 300px;
    left: 200px;
}

.Self-image{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}
.profile{
    padding-top: 62px;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 3%;
    border-color: rgb(145, 143, 143);
    margin-top: 50px;
    margin-bottom: 50px;
}
.Java-img{
    width: 20%;
    border-radius: 10rem;
    float: left;
    margin-right: 40px;
}
.Design{
    width: 20%;
    border-radius: 30rem;
    float: right;
    margin-left: 40px;
}
.skill-row{
    width: 50%;
    margin: 90px auto 90px auto;
    text-align: left;
    line-height: 2; 
}
.Contact-Me-p{
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn {
    background: #11cdd4;
    border: none;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.bottom-container{
    background-color: #66BFBF;
    padding-top: 45px;
    padding-bottom: 5px;
    color: #EAF6F6;
}
.middle-container{
    margin-bottom: 100px;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding-top: 18px;
}
.mountain{
    width: 41.5%;
}
